/*
	Comment
*/


body {
	font-family: 'Raleway', sans-serif;
	height: 100%;
    min-width: 800px;
}
#header {
    display: flex;
	justify-content: space-evenly;
}
#name {

	margin-top: 60px;
}
#logo img {
	height: 200px;
	width: auto;
}
#nav {
	height: 200px;
        min-width: 300px;
        display: flex;
       flex-flow: row wrap;
       justify-content: flex-end;

}
#nav ul {
	display: block;
}
#nav li {
	font-size: 20px;
	display: block;
	text-align: center;
	margin: 2px;
}
#nav a {
	display: block;
	padding: 18px;
	text-decoration: none;
	background: #e3ac63;
	color: #000;
}
ul li a:hover {
	background: #fff;
	color: #000;
}
#main {
	text-align: center;
	margin-bottom: 150px;
}

.about {
margin-top: 50px 0;
}

#footer {
    display: flex;
	position: fixed; 
    left: 0; bottom: 0; 
    padding: 5px 40px; 
    background: #e3ac63; 
    color: #000; 
    width: 100%; 

}
#footer p {
text-align: center;
}

#footer img {
	height: 20px;
	width: auto;
	padding: 15px;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
}

@media (min-width: 1200px) {
.photos {
	display: flex;
	justify-content: center;
	margin-top: 100px;
        align-items: center;
}
}
.heading {
text-align: center;
}

.photos img {
    height: 500px;
	width: auto;
margin: 0 20px;
}

.table {
	width: 300px;
	border: 2px solid #e3ac63;
        margin: auto;
}
.table td {
padding: 10px;
margin: auto;
}
A {
    color: #ce574f; 
   text-decoration: none;
   }
   A:visited {
    color: #ce574f; 
    text-decoration: none;
   }
   A:active {
    color: #ce574f;
    text-decoration: none;
   }
.table_blur table {
font-size: 14px;
border-radius: 3px;
border-spacing: 0;
text-align: center;
margin: auto;
}
.table_blur th {
background: #e3ac63;
color: #2d5a51;
padding: 5px 5px;
text-align: center;
margin: auto;
}
.table_blur th, .table_blur td {
border-style: solid;
border-width: 0 1px 1px 0;
border-color: white;
margin: auto;
}
.table_blur th {
text-align:center;
margin: auto;
}
.table_blur th:first-child {
border-top-left-radius: 0px;
}
.table_blur th:last-child {
border-top-right-radius: 0px;
border-right: none;
}
.table_blur td {
padding: 8px 15px;
background: #b6aca3;
}
.table_blur tr:last-child td:first-child {
border-radius: 0 0 0 10px;
}
.table_blur tr:last-child td:last-child {
border-radius: 0 0 10px 0;
}
.table_blur tr td:last-child {
border-right: none;
}

.table_blur {
  background: #f5f5f5;
  text-align:center;
  max-width: 100%;
  width: 100%
}

.table_blur tbody:hover td {
  color: transparent;
  text-shadow: 0 0 3px #a09f9d;
}
.table_blur tbody:hover tr:hover td {
  color: #444444;
  text-shadow: none;
}

div.tab{padding: 5px;max-width: 70%; overflow-x: scroll; margin-bottom: 20px;box-shadow: 2px 2px 4px 2px rgba(0,0,0,.2)}

input[type="checkbox"]:checked + 

.xpandable-block {
  max-height: 5000px;
}


.xpandable-block {
  max-height: 180px;
  overflow: hidden;
  order: 0;
 -webkit-transition: max-height 5s;
  transition: max-height 5s;
}

input[type="checkbox"] {
 display: none;
}


.labeltable {
		color: #e3ac63;
		text-decoration: underline;
		font-size: 14px;
		cursor: pointer;
		    text-align: center;
		margin: 20px auto;
		display: block;
		width: 250px;

}
