/*
	Comment
*/


body {
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-family: 'ProximaNova';
    font-size: 1.2rem;
    min-height: 100vh;
    position: relative;
    padding-bottom: 100px;
	
}
#header {
    display: flex;
    justify-content: space-evenly;
}
#name {

	margin-top: 60px;
}
#logo img {
	height: 200px;
	width: auto;
}
#nav {
	height: 200px;
        min-width: 300px;
        display: flex;
       flex-flow: row wrap;
       justify-content: flex-end;

}
#nav ul {
	display: block;
}
#nav li {
	font-size: 20px;
	display: block;
	text-align: center;
	margin: 2px;
}
#nav a {
	display: block;
	padding: 13px;
        border-width: 1 px;
        border-radius: 0px;
        background-color: #ffffff;
       background-position: center center;
        border-color: #d23aaa;
       border-style: dotted;
}
ul li a:hover {
	background: #fff;
	color: #000;
}
#main {
	text-align: center;
	margin-bottom: 150px;

}

.about {
margin-top: 50px 0;
}

#footer {
    display: flex;
     position: fixed; 
    left: 0; bottom: 0; 
    padding: 5px 40px; 
    background: white; 
    color: #000; 
    width: 100%; 

}
#footer p {
text-align: center;
font-size: 1rem;
}

#footer img {
	height: 20px;
	width: auto;
	padding: 15px;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
}

@media (min-width: 1200px) {
.photos {
	display: flex;
	justify-content: center;
	margin-top: 100px;
        align-items: center;
}
}
.heading {
text-align: center;
}

.photos img {
    height: 500px;
	width: auto;
margin: 0 20px;
}

.table {
	width: 300px;
	border: 2px solid #e3ac63;
        margin: auto;
}
.table td {
padding: 10px;
margin: auto;
}
A {
    color: black; 
   text-decoration: none;
   }
   A:visited {
    color: black; 
    text-decoration: none;
   }
   A:active {
    color: black;
    text-decoration: none;
   }



.wrapper {
  width: 100%;
}

.table_blur {
  background: white;
  border-collapse: collapse;
  text-align: centre;
  width: 50%;
  margin-left:25%;
  margin-top: 100px;
}
.table_blur th {
  border-top: 1px  #d23aaa;	
  border-bottom: 1px  #d23aaa; 
  box-shadow: inset 0 1px 0 #d23aaa, inset 0 -1px 0 #d23aaa;
  background: white;
  color: black;
  padding: 10px 15px;
  position: relative;
}
.table_blur th:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 25%;
  height: 25%;
  width: 100%;
}
.table_blur tr:nth-child(odd) {
  background: white;
}
.table_blur th:first-child {
  border-left: 1px solid #d23aaa;	
  border-bottom:  1px solid #d23aaa;
 
}
.table_blur th:last-child {
  border-right: 1px solid #d23aaa;
  border-bottom:  1px solid #d23aaa;
 
}
.table_blur td {
  border: 1px solid #d23aaa;
  padding: 10px 15px;
  position: relative;
  transition: all 0.5s ease;
}
.table_blur tbody:hover td {
  color: transparent;
  text-shadow: 0 0 3px #a09f9d;
}
.table_blur tbody:hover tr:hover td {
  color: #444444;
  text-shadow: none;
}

.site-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-family: 'ProximaNova';
    font-size: 1.6rem;
    min-height: 100vh;
    position: relative;
    padding-bottom: 335px;
}
.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1360px;
    padding-left: 40px;
    padding-right: 40px;
}
.publication__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.publication__content-wrap {
    font-family: Spectral;
    font-size: 18px;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    Text-align: center;
}
.publication__content {
    padding-right: 131px;
    padding-top: 110px;
    word-wrap: break-word;
}
