<!DOCTYPE html>
<html>
<head>
	<title>Digital Humanities</title>
	<link rel="stylesheet" href="static/style.css">
	<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
</head>
<body>
<div id="header">
 <div id="logo">
<a href="index.html">
<img src="static/images/logos.png"></a>
 </div>
<div id="name">
<h2>Вокруг DH за 80 дней</h2> 
</div>

<div id="nav">
<ul>
  <li><a href="index.html">О нас</a></li>
  <li><a href="map.html">Меппинг DH</a></li>
  <li><a href="women.html">От институтки до проститутки</a></li>
  <li><a href="channel.html">Женщины Петрограда</a></li>

</ul>
</div>
</div>

{% block content %} {% endblock %}


<div id="footer">
    <p>Для сотрудничества: </p>
    <a href="https://t.me/liSP1912">
    <img src="static/images/tg.png"></a>
    <p> Здесь вас научат DH: </p>
    <a href="https://dh.itmo.ru">
    <img src="static/images/dh.png"></a>
    <p>От институтки до проститутки: </p>
    <a href="women.html">
    <img src="static/images/edulogo.png"></a>
    <p>Мэппинг DH: </p>
    <a href="map.html">
    <img src="static/images/map.png"></a>
    </div>
    
    
    </body>
    </html>