
{% extends "base.html" %}

{% block content %}


<div class="body"> 
<table class="table_blur">
<tr>
				<th colspan="2">Наша деятельность</th>
			</tr>
			<tr>
				<td>1</td>
				<td>Исследования: изучаем аналоговый мир с помощью диджитал и исследуем влияние диджитал на аналоговый мир </td>
			</tr>
			<tr>
				<td>2</td>
				<td>Образование: проводим no-code воркшопы по веб-скрейпингу, очистке данных, анализу текстов и визуализации данных</td>
			</tr>
			<tr>
				<td>3</td>
				<td>События: организуем встречи, на которых обсуждаем исследования и обмениваемся навыками</td> 
			</tr>

</tbody>
	</table>

</div>
  
</div>

{% endblock %}


